/*
Buttons

A majority of buttons in the site are built from the same base class.

Markup:
<a href="#" class="button {$modifiers}">Link Button</a>
<button class="button {$modifiers}">Button Element</button>

:hovered    - Highlight the button when hovered.
:disabled   - Make the button change appearance to reflect it being disabled.
.primary    - Indicate that the button is the primary feature of this form.

Styleguide 1.1
*/
.button {
  background: blue;
}
.button:hover {
  background: orange;
}
.button:disabled {
  background: #ccc;
}
.button.primary {
  background: green;
}
